html{
    background-color: black;
}

.poster{
    font-family:"Libre Baskerville", italic;
    color: white;
    background-color: black;
    text-align: center;

    margin-top: 25%;
    margin-left: 25%;
    width:50%
}

.motivation-img{
    width:100%;
    border: 5px solid white;
}

h1{
    text-transform: capitalize;
    text-transform: uppercase;
}